.cuartopunto{
    height: 500px;
    width: 700px;
    margin: 5%;
    background-color: rgb(168, 206, 232); 
    padding: 5%;
    border-radius: 30px;
}
.cuartopunto #personas{
    border: none;
    padding: 1%;
}
.cuartopunto #actualizar{
    border-radius: 10px;
    margin: 1%;
    padding: 1%;
}